{% macro cards(collection, tag) %}
    <ul class="cards">
        {% for page in collection | reverse %}
            {# Include page if it contains the tag to filter by, or no tag was given (such as for the "all" page) #}
            {% if tag in page.data.tags or tag == undefined %}
                <li>
                    <div class="card-header">
                        <span class="panel">
                            <b>
                                {{ page.data.created | postDate }}
                            </b>
                        </span>
                        {% for pageTag in page.data.tags %}
                            {% if pageTag != "" %}
                                <span class="panel">
                                    {{ pageTag }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="card-body panel" href="{{ page.url }}">
                        <img class="card-thumbnail" src="{{ page.data.thumbnail }}" alt="{{ page.data.thumbnail }}"/>
                        <div class="card-content">
                            <h3>
                                {{ page.data.title }}
                            </h3>
                            <p>
                                {{ page.data.description }}
                            </p>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}