{% macro cards(collection, tag) %}
    <ul class="cards">
        {% for page in collection | reverse %}
            {% if page.data.tags[1] == tag or tag == undefined %}
                <li>
                    <div class="date-header panel">
                        <span>
                            <b>
                                {{ page.data.created | postDate }}
                            </b>
                        </span>
                        <span>
                            /
                        </span>
                        <span>
                            {{ page.data.tags[1] }}
                        </span>
                    </div>
                    <a class="card-body panel" href="{{ page.url }}">
                        <img class="card-thumbnail" src="{{ page.data.thumbnail }}" alt="{{ page.data.thumbnail }}"/>
                        <div class="card-content">
                            <h3>
                                {{ page.data.title }}
                            </h3>
                            <p>
                                {{ page.data.description }}
                            </p>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}