---
layout: base.njk
---

<main>
    <div class="card-header">
        <span class="panel">
            <b>
                {{ created | postDate }}
            </b>
        </span>
        {% for pageTag in tags %}
            {% if pageTag != "projects" and pageTag != "notes" and pageTag != "" %}
                <span class="panel">
                    {{ pageTag }}
                </span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="panel post">
        {{ content | safe }}
    </div>
</main>