---
layout: base.njk
---

<main data-pagefind-body>
    <div class="card-header">
        <span class="panel">
            <b>
                {{ created | postDate }}
            </b>
        </span>
        {% for pageTag in tags %}
            {% if pageTag != "" %}
                <span data-pagefind-filter="tag" class="panel">
                    {{ pageTag }}
                </span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="panel post">
        {{ content | safe }}
    </div>
</main>