---
permalink: /
title: Home
layout: main.njk
---

<div class="split">
    <img class="panel" src="/content/attachments/Return.png" alt="nightsky"/>
    <div class="panel">
        <h1>Welcome</h1>
        <p>This is where Kevin documents his projects (and more). Enjoy your visit!</p>
        <a href="/projects/">
            [PROJECTS]
        </a>
        <a href="/notes/">
            [NOTES]
        </a>
        <a href="/about/">
            [ABOUT]
        </a>
    </div>
</div>