---
permalink: /
title: Home
layout: main.njk
---

<div class="home panel">
    <img src="/content/attachments/nightsky2.png" alt="nightsky"/>
    <div>
        <h1>Welcome</h1>
        <p>This is where Kevin documents his projects (and more).</p>
        <p>Enjoy your visit!</p>
        <p>
            <a href="/projects/">
                [PROJECTS]
            </a>
        </p>
        <p>
            <a href="/notes/">
                [NOTES]
            </a>
        </p>
        <p>
            <a href="/about/">
                [ABOUT]
            </a>
        </p>
    </div>
</div>