---
permalink: /
title: Home
layout: base.njk
---

<div class="home">
    <img src="/content/attachments/nightsky2.png" alt="nightsky2"/>
    <div>
        <h1>Welcome</h1>
        <p>This is where Kevin documents his projects (and more). Enjoy your visit!</p>
        <a href="/projects/">
            [PROJECTS]
        </a>
        <a href="/notes/">
            [NOTES]
        </a>
        <a href="/about/">
            [ABOUT]
        </a>
    </div>
</div>