---
permalink: notes/
title: Notes
layout: base.njk
---

<h1>Notes</h1>
<p>all my notes here</p>
<ul>
  {% for page in collections.notes %}
    <li>
      <a href="{{ page.url }}">{{ page.data.title }}</a>
    </li>
  {% endfor %}
</ul>