---
permalink: notes/
title: Notes
layout: main.njk
---
{# Import macros #}
{% from "tags.njk" import tags %}
{% from "cards.njk" import cards %}

{# List the tags, then the cards #}
{{ tags("notes", collections.noteTags, page.url) }}
{{ cards(collections.notes) }}