---
pagination:
    data: collections.notesTags
    size: 1
    alias: tag
permalink: /notes/{{ tag }}/
layout: main.njk
---

{% from "tags.njk" import tags %}
{{ tags("notes", collections.notesTags, page.url) }}
{% from "cards.njk" import cards %}
{{ cards(collections.notes, tag) }}