---
pagination:
    data: collections.notesTags
    size: 1
    alias: tag
permalink: /notes/{{ tag }}/
layout: main.njk
---

{% from "tags.njk" import tags %}
{{ tags("notes", collections.notesTags) }}
<p>
    Notes page for {{ tag }}
</p>
<h1>Notes</h1>
<p>all my notes here</p>
{% from "cards.njk" import cards %}
{{ cards(collections.notes, tag) }}