---
permalink: projects/
title: Projects
layout: base.njk
---

<h1>Projects</h1>
<p>all my projects here</p>
<ul class="cards">
  {% for page in collections.projects %}
    <li>
      <a class="card" href="{{ page.url }}">
        <img src="{{ page.data.thumbnail }}" alt="{{ page.data.thumbnail }}"></img>
        <div>
          <p>
            {{ page.data.created | postDate }}
          </p>
          <p>
            {{ page.data.tags[1] }}
          </p>
          <p>
            {{ page.data.title }}
          </p>
          <p>
            {{ page.data.description }}
          </p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>