---
pagination:
    data: collections.projectsTags
    size: 1
    alias: tag
permalink: /projects/{{ tag }}/
layout: main.njk
---

{% from "tags.njk" import tags %}
{{ tags("projects", collections.projectsTags, page.url) }}
{% from "cards.njk" import cards %}
{{ cards(collections.projects, tag) }}