---
eleventyExcludeFromCollections: true
permalink: /robots.txt
---
User-agent: *
Allow: /
Sitemap: {{ site.url }}/sitemap.xml
{# https://dev.to/loige/create-a-sitemap-for-your-eleventy-website-25h/ #}